# Copyright (c) 2024 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_NICE_VIEW_MIP

# Keep the MIP panel's VCOM toggling by periodically refreshing the display.
config NICE_VIEW_VCOM_KEEPALIVE
    default y

endif # SHIELD_NICE_VIEW_MIP
